<% layout("/layout/boilerplate.ejs") -%>

<form action="/listing/add" method="post">
  <h1>Enter Details</h1>
  <div class="row">
    <label for="title" class="form-label">
      <input
        class="form-control"
        type="text"
        name="title"
        id=""
        placeholder="hotel title"
      />
    </label>
    <label for="image" class="form-label">
      <input
        class="form-control"
        type="text"
        name="image"
        id=""
        placeholder="image url"
      />
    </label>
    <label for="description" class="form-label">
      <textarea
        name="description"
        rows="5"
        columns="7"
        placeholder="description"
        id=""
        class="form-control"
      ></textarea>
    </label>
    <label for="location" class="form-label col-8">
      <input
        class="form-control"
        type="text"
        name="location"
        placeholder="location"
        id=""
      />
    </label>
    <label for="country" class="form-label col-4">
      <input
        class="form-control"
        type="text"
        name="country"
        placeholder="country"
        id=""
      />
    </label>
    <label for="price" class="form-label">
      <input
        class="form-control"
        type="number"
        name="price"
        placeholder="price"
      />
    </label>
    <button type="submit" class="btn mx-auto d-block form-submit-btn">
      submit
    </button>
  </div>
</form>
