<% layout("/layout/boilerplate.ejs") -%>

<h1>Listings</h1>
<form action="/listing/add" method="get">
  <button type="submit">create</button>
</form>
<ul>
  <% for(listItem of list) { %>
  <li><a href="/listing/<%= listItem._id %>"><%= listItem.title %></a></li>
  <%}%>
</ul>
