<% layout("/layout/boilerplate.ejs") -%>

<div class="container py-4">
  <h1 class="mb-4">Listings</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    <% for(listItem of list) { %>
    <div class="col"><%- include("includes/card.ejs",{listItem}) %></div>
    <%}%>
  </div>
</div>
