<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>instagram</title>
    <style>
      img {
        width: 300px;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button class="btn">follow</button>
    <button class="btn">message</button>
    <br />
    <br />
    <% for(let post of data.posts) { %>
    <img src="<%=post.image%>" />
    <p>likes: <%= post.likes %></p>
    <p>comments: <%= post.comments %></p>

    <% } %>
  </body>
  <script src="instagram.js"></script>
</html>
