<a href="/listing/<%= listItem._id %>" class="card-link">
  <div class="card listing-card border-light mb-3" style="width: 18rem">
    <img src="<%= listItem.image %>" class="card-img img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= listItem.title %></h5>
      <br />
      <p class="card-text">
        &#x20B9;<%= listItem.price.toLocaleString("en-IN") %>
      </p>
    </div>
  </div>
</a>
