<% if (success.length > 0) { %>
<div class="flash-message success" id="flash-success">
  <span class="icon success-icon">✔</span>
  <span><%= success[0] %></span>
  <span class="close-btn" onclick="this.parentElement.remove()">✖</span>
</div>
<% } %> <% if (error.length > 0) { %>
<div class="flash-message error" id="flash-error">
  <span class="icon error-icon">✖</span>
  <span><%= error[0] %></span>
  <span class="close-btn" onclick="this.parentElement.remove()">✖</span>
</div>
<% } %>

<script>
  // Auto remove after 3 sec
  setTimeout(() => {
    const success = document.getElementById("flash-success");
    const error = document.getElementById("flash-error");
    if (success) success.remove();
    if (error) error.remove();
  }, 4000);
</script>
