<footer>
  <div class="container">
    <div class="row footer-row p-3">
      <p class="col-4">&copy; Hotel listing. All right reserved</p>
      <div class="icons col-4">
        <a href="http://" target="_blank" rel="noopener noreferrer"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
        <a href="http://"><i class="fa-brands fa-linkedin"></i></a>
        <a href="http://"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="col-4">Contact Us: Yourmamaisfat@gmail.com</div>
    </div>
    <p class="text-center p-2">Made with love 💋. For You 8824286047 😉</p>
  </div>
</footer>
