<footer>
  <div class="container">
    <div class="row footer-row p-3 text-center">
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <p class="mb-0">&copy; 2025 Flatmate. All right reserved</p>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="icons">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="mx-2"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="http://" class="mx-2">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="http://" class="mx-2">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="http://" class="mx-2">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <p class="mb-0">Contact Us: Yourmamaisfat@gmail.com</p>
      </div>
    </div>
    <p class="text-center p-2 mb-0">Made with love 💋. For You 8824286047 😉</p>
  </div>
</footer>
