<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit post form</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <h3>post id: <%= post.id %></h3>
    <form action="/post/edit/<%= post.id %>?_method=PATCH" method="POST">
      <textarea name="content" rows="5" cols="40"><%= post.content %></textarea>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
