body {
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
}

.navbar {
  background-color: #fef2f4 !important;
  /* box-shadow: 2px 2px 2px black; */
  box-shadow: 2px 3px 6px 2px rgb(149, 133, 133);
}

.nav-link:hover {
  color: black;
  font-weight: 600;
}

.card-link {
  text-decoration: none;
}

.listing-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
  transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
}

.card-img {
  height: 16rem;
  object-fit: cover;
}

.card-text {
  font-family: Helvetica, sans-serif, Arial;
}

.info-container .img-fluid {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
}

.info-container {
  height: auto;
  width: 35rem;
  padding: 3rem;
}

form .btn {
  width: 6rem;
  text-align: center;
  margin: 20px;
}

.form-submit-btn {
  background-color: #ee0a47 !important;
  color: white;
}

footer {
  background-color: #fef2f4;
}

.rating-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rating-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.review-delete-btn {
  margin: 0.1px !important;
}
